#top-nav{
	background-color: #383dc9;
	clear:both;
}

header a{
    color:black;
}

#item-list a{
    color: black;
}

#item-list a:hover{
    color: rgb(107, 107, 107);
}

.navbar-brand h1{
	margin: 0px;
    width: fit-content;
}

.navbar-header button{
	margin-top: 17px;
}

#nav-list {
    padding: 7.5px;
    color: black;
    text-align: center;
    font-size: 1.5em;
    width: fit-content;
    margin: 0 auto;
}

#right-header{
    display: flex;
    margin-top: 8px;
    float: right;
}

#right-header div{
    margin-top: 7px;
    color: #121212;
    font-weight: bold;
    font-size: 1.5em;
}

.login {
    float: left;
    font-weight: bold;
    font-size: 1.5em;
    margin-right: 10px;
    padding: 5px;
    border: 2px solid #121212;
    border-radius: 5px;
}

.login:hover{
    background-color: #121212;
    color: #383dc9;
    border-radius: 5px;
    text-decoration: none;
}

.signup {
    float: right;
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px;
    border: 2px solid #121212;
    border-radius: 5px;
}

.signup:hover{
    background-color: #121212;
    color: #383dc9;
    border-radius: 5px;
    text-decoration: none;
}

#phone-login a{
    font-weight: bold;
}

#phone-signup a{
    font-weight: bold;
}

#phone-signout button{
    font-weight: bold;
    width: auto;
    color: #121212;
    background-color: #383dc9;
    border: none;
    outline: none;
}

#phone-login:hover{
    background-color: #121212;
}

#phone-login a:hover{
    color: #383dc9;
    text-decoration: none;
}

#phone-signup:hover{
    background-color: #121212;
}

#phone-signup a:hover{
    color: #383dc9;
    text-decoration: none;
}

#phone-signout button:hover{
    background-color: #121212;
    color: #383dc9;
}

#back{
    display: none;
}

.container-fluid{
    background-color: #121212;
}

#signout{
    display: inherit;
    color: #121212;
    background-color: #383dc9;
    margin: auto;
    margin-left: 20px;
    font-size: 1.5em;
    width: auto;
    align-content: center;
    font-weight: bold;
    border: 2px solid #121212;
    border-radius: 5px;
    padding: 5px;
}

#signout:hover{
    background-color: #121212;
    color: #383dc9;
    text-decoration: none;
}

form input{
    margin: auto;
    color: #383dc9;
    background-color: #121212;
    border: 2px solid #383dc9;
    border-radius: 10px;
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

form input:focus{
    outline: none;
}

form input:first-child{
    margin-top: 20px;
    font-size: 1.2em;
}

form input:last-child{
    width: 150px;
    height: 40px;
    padding: 2px;
    margin-top: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}

form input:last-child:hover{
    background-color: #383dc9;
    color: #121212;
}

.book{
    margin: 30px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

.book-thumbnail{  
    float: left; 
    width: 400px;
    height: auto;
}

.book-details{
    float: left;
    padding-left: 50px;
}

.book-title{
    font-size: 4em;
    color: #383dc9; 
}

.availability{
    font-size: 2em;
    color: #383dc9; 
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking, .reserve{
    background-color: #121212;
    color: #383dc9;
    border: 3px solid #383dc9;
    border-radius: 5px;
    padding: 7px;
    margin: 5px;
    font-weight: bold;
}

.booking:hover, .reserve:hover{
    background-color: #383dc9;
    color: #121212;
}

@media (max-width: 550px) {
    .img1 {
        width: 130px;
        height: 30px;
        margin-left: -15px;
    }

    .login{
        display: none;
    }

    .signup{
        display: none;
    }

    #signout{
        display: none;
    }

    #right-header div{
        display: none;
    }

}

@media (min-width: 550px) {
    .img1 {
        height: 50px;
        width: 300px;
        margin-top: -15px;
    }

    .login{
        display: none;
    }

    .signup{
        display: none;
    }

    #signout{
        display: none;
    }

    #right-header div{
        display: none;
    }

    #front, #back{
        margin-top: 80px;
    }

    .edit-button{
        margin-top: 30px;
        margin-left: 29.166666667%;
        margin-right: 29.166666667%;
    }

    .save-button{
        margin-top: 15px;
        margin-left: 29.166666667%;
        margin-right: 29.166666667%;
    }
    
    .left-arrow{        
        display: none;
    }

    .right-arrow{
        display: none;
    }
    
    .arrows-mobile{
        display: block;
    }
}

@media (min-width: 768px) {
    #top-nav{
		height: 4.3em;
	}

    .img1 {
        height: 50px;
        width: 300px;
        margin-top: -15px;
    }

    .login{
        display: inherit;
    }

    .signup{
        display: inherit;
    }

    #signout{
        display: inherit;
    }

    #right-header div{
        display: inherit;
    }

    #front, #back{
        margin-top: 80px;
    }

    .edit-button{
        margin-top: 30px;
        margin-left: 37.5%;
        margin-right: 37.5%;
    }

    .save-button{
        margin-top: 15px;
        margin-left: 37.5%;
        margin-right: 37.5%;
    } 

    .left-arrow{        
        top: 330px;
        left: 8%;
        display: block;
    }

    .right-arrow{
        top: 330px;
        right: 8%;
        display: block;
    } 

    .arrows-mobile{
        display: none;
    }   
}

@media (min-width: 992px) {
    .img1 {
        height: 50px;
        width: 300px;
        margin-top: -15px;
    }

    #front, #back{
        margin-top: 80px;
    }
    
    .edit-button{
        margin-top: 30px;
        margin-left: 40vw;
        margin-right: 0;
    }

    .save-button{
        float: right;
        margin-top: 30px;
        margin-left: 0;
        margin-right: 40vw;
    }

    .left-arrow{        
        top: 330px;
        left: 15%;
        display: block;
    }

    .right-arrow{
        top: 330px;
        right: 15%;
        display: block;
    }
}

@media (min-width: 1200px) {
    .img1 {
        height: 50px;
        width: 300px;
        margin-top: -15px;
    }

    .edit-button{
        margin-top: 30px;
        margin-left: 40vw;
        margin-right: 0;
    }

    .save-button{
        float: right;
        margin-top: 30px;
        margin-right: 40vw;
        margin-left: 0;
    }

    .left-arrow{        
        top: 330px;
        left: 22%;
        display: block;
    }

    .right-arrow{
        top: 330px;
        right: 22%;
        display: block;
    }
}
